footer.footer
    .footer__bg
        .container
            .row
                .col-12.col-md-10.col-lg-5.col-xl-4.offset-md-1.offset-lg-7
                    .donate__question
                        .body0
                            | Остались вопросы?
                        .body2
                            |Не&nbsp;нашли предложение, которое
                            | подходит вам по&nbsp;цене?
                        .body1
                            | Хотите расширить стандартный пакет?
                        .body2.donate__question-text
                            | Оставьте вашу заявку, чтобы мы&nbsp;могли развеять
                            | ваши сомнения и&nbsp;подготовить подходящий
                            | именно вам вариант
                        a(href="tel:89969526507")
                            button.button._sb Позвонить
            .row.footer__contacts-box
                .col-12.col-lg-3
                    .body1.footer__contact
                        | Свидания в&nbsp;Москва-Сити
                .col-12.col-lg-3
                    a.link.body1.footer__contact(href="tel:89969526507")
                        | 8 (996) 952-65-07
                .col-12.col-lg-3
                    a.link.body1.footer__contact(href="#")
                        | praimlimited@yandex.ru
                .col-12.col-lg-3
                    .body1.footer__contact
                        | г. Москва, Пресненская
                        | набережная,&nbsp;8, стр.&nbsp;1