meta(charset="utf-8")

title= "Свидание в Москва-Сити"

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700", media="all")

include _critical
