/*
  550 mobile
*/

@media (min-width: 576px) {
  ._visible-sm {
    display: block !important;
  }
  ._hidden-sm {
    display: none !important;
  }
}

/*
  750 tablets
*/

@media (min-width: 768px) {
  h1 {
    font-size: 2.625rem;
    line-height: 3.1875rem;
  }

  h2 {
    font-size: 2.625rem;
    line-height: 3.1875rem;
  }

  h3 {
    font-size: 1.625rem;
    line-height: 1.9375rem;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }

  .body0 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .body1 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  ._visible-md {
    display: block !important;
  }
  ._hidden-md {
    display: none !important;
  }
}

/*
  750 tablet landscape
*/

@media (min-width: 768px) and (orientation: landscape) {

}

/*
  960 desktops
*/

@media (min-width: 992px) {
  h1 {
    /*
    font-size: 3.125rem;
    line-height: 3.75rem;
     */
    font-size: 4.75rem;
    line-height: 5.5rem;
  }

  .body1 {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  ._visible-lg {
    display: block !important;
  }
  ._hidden-lg {
    display: none !important;
  }
}

/*
  1170 full 2k
*/

@media (min-width: 1200px) {
  ._visible-xl {
    display: block !important;
  }
  ._hidden-xl {
    display: none !important;
  }
}