#aparts
section.apartaments
    .container
        .row.apartaments__img-box
            .apartaments__bg-img._top
            .col-12.col-md-7.col-lg-5.offset-md-5.offset-lg-7
                .apartaments__block._top
                    .body0.apartaments__caption
                        | Апартаменты Sky
                    .body2.apartaments__text
                        | В&nbsp;номере вас ждет интимная обстановка при свечах,
                        | легкие закуски и&nbsp;напитки, а&nbsp;также роскошный вид
                        | на&nbsp;ночную столицу. На&nbsp;украшенной лепестками роз
                        | кровати вы&nbsp;можете отдохнуть и&nbsp;посмотреть любимый
                        | фильм на&nbsp;широкоформатном телевизоре.
                    .body1.apartaments__price-caption
                        | Аренда апартаментов<br>
                        | на&nbsp;2&nbsp;часа с&nbsp;18:00 до&nbsp;23:00
                    .body1.apartaments__price-item(data-price="5 800 руб.")
                        | Понедельник&nbsp;&mdash; Четверг
                    .body1.apartaments__price-item(data-price="6 700 руб.")
                        | Пятница&nbsp;&mdash; Воскресенье
                    button.button._sb.openform Выбрать
        .row.apartaments__img-box
            .apartaments__bg-img._middle
            .col-12.col-md-7.col-lg-5
                .apartaments__block._middle
                    .body0.apartaments__caption
                        | Апартаменты<br>
                        | premium Panorama
                    .body2.apartaments__text
                        | В&nbsp;номере вас ждет романтическая обстановка:
                        | 400&nbsp;воздушных шаров, лепестки роз, стол, сервированный
                        | свечами, легкими закусками и&nbsp;напитками. Расположившись
                        | на&nbsp;мягких диванах, вы&nbsp;можете насладиться атмосферой
                        | романтики или полюбоваться ночным небом в&nbsp;телескоп.
                    .body1.apartaments__price-caption
                        | Аренда апартаментов<br>
                        | на&nbsp;1&nbsp;час 20&nbsp;минут
                    .body1.apartaments__price-item(data-price="4 800 руб.")
                        | 09:00&nbsp;&mdash; 16:20
                    .body1.apartaments__price-item(data-price="5 800 руб.")
                        | 16:30&nbsp;&mdash; 19:20
                    .body1.apartaments__price-item(data-price="7 800 руб.")
                        | 19:30&nbsp;&mdash; 23:50
                    .body1.apartaments__price-item(data-price="5 800 руб.")
                        | 00:00&nbsp;&mdash; 01:20
                    .body1.apartaments__price-item(data-price="4 800 руб.")
                        | 01:30&nbsp;&mdash; 04:20
                    .body2
                        | Пятница, суббота, воскресенье<br>
                        | любое время дороже на&nbsp;900&nbsp;рублей
                    button.button._sb.openform Выбрать
        .row.apartaments__img-box
            .apartaments__bg-img._bottom
            .col-12.col-md-7.col-lg-5.offset-md-5.offset-lg-7
                .apartaments__block._bottom
                    .body0.apartaments__caption
                        | Ночь в&nbsp;Москва-Сити
                    .body2.apartaments__text
                        | Не&nbsp;знайте компромиссов! Выберете любой понравившийся
                        | номер и&nbsp;проведите в&nbsp;нем незабываемую ночь! Вас ждет
                        | неповторимая атмосфера романтики, угощения, а&nbsp;также
                        | профессиональная фотосессия в&nbsp;начале вечера.
                    .body1.apartaments__price-caption
                        | Аренда апартаментов<br>
                        | с&nbsp;23.00&nbsp;&mdash; 16.00
                    .body1.apartaments__price-item(data-price="10 900 руб.")
                        | Понедельник&nbsp;&mdash; Четверг
                    .body1.apartaments__price-item(data-price="11 800 руб.")
                        | Пятница&nbsp;&mdash; Воскресенье
                    button.button._sb.openform Выбрать
        .row
            .col-12.col-md-11.offset-md-1
                .body1.apartaments__sub-text
                    | Незабываемые моменты радости
                    | и&nbsp;приятные эмоции&nbsp;&mdash; бесплатно!