section.apartaments
    .container
        .row.apartaments__img-box
            .apartaments__bg-img._top
            .col-12.col-md-7.col-lg-5.offset-md-5.offset-lg-7
                .apartaments__block._top
                    .body0.apartaments__caption
                        | Апартаменты Sky
                    .body2.apartaments__text
                        | В номере вас ждет интимная обстановка при свечах, легкие закуски и
                        | напитки, а также роскошный вид на ночную столицу. На украшенной
                        | лепестками роз кровати вы можете отдохнуть и посмотреть любимый
                        | фильм на широкоформатном телевизоре.
                    .body1.apartaments__price-caption
                        | Аренда апартаментов<br>
                        | на 2 часа с 18:00 до 23:00
                    .body1.apartaments__price-item(data-price="5 800 руб.")
                        | Понедельник - Четверг
                    .body1.apartaments__price-item(data-price="6 700 руб.")
                        | Пятница - Воскресенье
                    button.button._sb Выбрать
        .row.apartaments__img-box
            .apartaments__bg-img._middle
            .col-12.col-md-7.col-lg-5
                .apartaments__block._middle
                    .body0.apartaments__caption
                        | Апартаменты<br>
                        | premium Panorama
                    .body2.apartaments__text
                        | В номере вас ждет романтическая обстановка: 400 воздушных
                        | шаров, лепестки роз, стол, сервированный свечами, легкими
                        | закусками и напитками. Расположившись на мягких диванах, вы
                        | можете насладиться атмосферой романтики или полюбоваться
                        | ночным небом в телескоп.
                    .body1.apartaments__price-caption
                        | Аренда апартаментов<br>
                        | на 1 час 20 минут
                    .body1.apartaments__price-item(data-price="4 800 руб.")
                        | 09:00 – 16:20
                    .body1.apartaments__price-item(data-price="5 800 руб.")
                        | 16:30 – 19:20
                    .body1.apartaments__price-item(data-price="7 800 руб.")
                        | 19:30 – 23:50
                    .body1.apartaments__price-item(data-price="5 800 руб.")
                        | 00:00 – 01:20
                    .body1.apartaments__price-item(data-price="4 800 руб.")
                        | 01:30 – 04:20
                    .body2
                        | Пятница, суббота, воскресенье<br>
                        | любое время дороже на 900 рублей
                    button.button._sb Выбрать
        .row.apartaments__img-box
            .apartaments__bg-img._bottom
            .col-12.col-md-7.col-lg-5.offset-md-5.offset-lg-7
                .apartaments__block._bottom
                    .body0.apartaments__caption
                        | Ночь в Москва-Сити
                    .body2.apartaments__text
                        | Не знайте компромиссов! Выберете любой понравившийся номер
                        | и проведите в нем незабываемую ночь! Вас ждет неповторимая
                        | атмосфера романтики, угощения, а также профессиональная
                        | фотосессия в начале вечера.
                    .body1.apartaments__price-caption
                        | Аренда апартаментов<br>
                        | с 23.00 – 16.00
                    .body1.apartaments__price-item(data-price="10 900 руб.")
                        | Понедельник - Четверг
                    .body1.apartaments__price-item(data-price="11 800 руб.")
                        | Пятница - Воскресенье
                    button.button._sb Выбрать