#steps
section.arrange
    .container
        .row
            .col-12.col-md-11.col-xl-9.offset-md-1
                h2.arrange__caption
                    | Как устроить любимому человеку
                    | незабываемое романтическое
                    | свидание?
        .arrange__map
            .row.arrange__row.order-2
                .col-8.col-sm-6.col-md-4.col-lg-3.offset-lg-8.arrange__step
                    .arrange__number.body0
                        | 02
                    .arrange__text.body2
                        | Обсудите с&nbsp;менеджером
                        | ваши пожелания
            .row.arrange__row.order-1
                .col-8.col-sm-6.col-md-4.col-lg-3.offset-lg-1.arrange__step
                    .arrange__number.body0
                        | 01
                    .arrange__text.body2
                        | Свяжитесь с&nbsp;нами,
                        | чтобы забронировать
                        | желаемую дату
            .row.arrange__row._visible-xl
            .row.arrange__row.order-4
                .col-8.col-sm-6.col-md-4.col-lg-3.offset-lg-9.arrange__step
                    .arrange__number.body0
                        | 04
                    .arrange__text.body2
                        | Для вас уже будет подготовлена
                        | романтическая обстановка,
                        | легкие закуски и&nbsp;напитки
            .row.arrange__row.order-3
                .col-8.col-sm-6.col-md-4.col-lg-3.offset-lg-1.arrange__step
                    .arrange__number.body0
                        | 03
                    .arrange__text.body2
                        | В&nbsp;назначенное время администратор
                        | будет вас ждать&nbsp;&mdash; встретит на&nbsp;ресепшн
                        | и&nbsp;проводит до&nbsp;апартаментов
            .row.arrange__row.order-5
                .col-8.col-sm-6.col-md-4.col-lg-3.offset-lg-9.arrange__step
                    .arrange__number.body0
                        | 05
                    .arrange__text.body2
                        | Мы&nbsp;организуем фотосессию,
                        | а&nbsp;готовые фото отправим на&nbsp;почту
            .row.arrange__row.order-6
    .arrange__wave