section.certificate
    .container
        .row
            .col-12.col-md-11.offset-md-1
                h2.certificate__caption._s Подарите сертификат на свидание мечты
                .body1.certificate__text._s
                    | Подарочный сертификат – это лучший подарок, который приятно<br>
                    | удивит и подарит массу положительных эмоций:
            .row.justify-content-center
                .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                    .enjoy__img-box
                        img.enjoy__img(src=require('../../svg/ico6.svg'), alt="Романтический вечер")
                    .enjoy__text.body1._s
                        | Сделайте сюрприз
                        | любимому человеку
                .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                    .enjoy__img-box
                        img.enjoy__img(src=require('../../svg/ico7.svg'), alt="Красивый вид")
                    .enjoy__text.body1._s
                        | Купите сертификат, если хотите
                        | свидание, но пока не определились
                        | с датой
                .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                    .enjoy__img-box
                        img.enjoy__img(src=require('../../svg/ico8.svg'), alt="Ощущение полета")
                    .enjoy__text.body1._s
                        | Используйте его, как презент в честь
                        | дня рождения или свадьбы ваших
                        | друзей или близких
        .row
            .col-12.col-md-11.offset-md-1
                .body0.certificate__sub-cuption._s
                    | Хотите получить подарочный сертификат<br>
                    | от Свидания в Москва-Сити?
                button.button Хочу!