section.donate
    #emotions
    .container
        .row
            .col-12.col-md-11.col-xl-9.offset-md-1
                h2.donate__caption._s
                    | Подарите эмоции, которые станут
                    | самыми приятными воспоминаниями
            .col-12.col-md-10.col-lg-5.offset-md-1.donate__text.body1._s
                | Чтобы каждое романтическое свидание проходило
                | идеально, мы&nbsp;вкладываем весь наш опыт и&nbsp;ответственно
                | подходим к&nbsp;организации мероприятия<br>
                | <button class="button donate__btn openform">Забронировать</button><br>
                | <span class="body2 _p">Вы&nbsp;можете выбрать удобное<br>
                | для вас время прямо сейчас</span>
            .col-12.col-md-10.col-lg-5.col-xl-4.offset-md-1
                .donate__question
                    .body0
                        | Разбавьте будни
                        | яркими красками
                        | и&nbsp;незабываемыми
                        | впечатлениями!
                    .body1.donate__question-text
                        | У&nbsp;вас есть вопросы или пожелания?
                        | Мы&nbsp;расскажем, как исполнить вашу мечту
                        | об&nbsp;идеальном вечере
                    a(href="tel:89969526507")
                        button.button._sb Позвонить
    .donate__wave