section.header
    #pagetop
    .container
        h1.header__caption._s Поднимитесь <br>
            span.header__caption-carry до&nbsp;самых небес!
        .row
            .col-12.col-md-6
                button.button.header__btn.openform Оставить заявку
            .col-12.col-md-6.body1._s
                | Головокружительные пейзажи Москвы в&nbsp;лучах заката или
                | ночном блеске столичных огней сделают незабываемым ваше
                | романтическое свидание на&nbsp;51&nbsp;этаже башни Москва-Сити
    .header__wave
