section.header
    #pagetop
    .container
        h1.header__caption._s Поднимитесь <br>
            span.header__caption-carry до самых небес!
        .row
            .col-12.col-md-6
                button.button.header__btn Оставить заявку
            .col-12.col-md-6.body1._s
                | Головокружительные пейзажи Москвы в лучах заката или
                | ночном блеске столичных огней сделают незабываемым ваше
                | романтическое свидание на 51 этаже башни Москва-Сити
    .header__wave
