section.questions
    .questions__wave
    .container
        .row
            .col-12.col-md-11.offset-md-1
                .body2.questions__sup-text
                    | Незабываемые моменты радости
                    | и приятные эмоции – бесплатно!
                h2.questions__caption
                    | У вас есть особые пожелания?<br>
                    | Мы с удовольствием поможем вам!
                .body1.questions__text
                    | Оставьте заявку, чтобы наш менеджер мог связаться с вами<br>
                    | и предложить вариант, который вас удовлетворит
                button.button.questions__btn Подобрать вариант
                button.button._sb Позвонить