section.questions
    .questions__wave
    .container
        .row
            .col-12.col-md-11.offset-md-1
                h2.questions__caption
                    | У&nbsp;вас есть особые пожелания?<br>
                    | Мы&nbsp;с&nbsp;удовольствием поможем вам!
                .body1.questions__text
                    | Оставьте заявку, чтобы наш менеджер мог связаться с&nbsp;вами<br>
                    | и&nbsp;предложить вариант, который вас удовлетворит
                button.button.questions__btn.openform Подобрать вариант
                button.button._sb Позвонить