section.spend
    .container
        .row
            .col-12.col-md-10.col-lg-8.col-xl-7.offset-md-1
                h2.spend__caption
                    | Проведите романтический
                    | ужин на вершине города
                .body1
                    | Насладитесь не только роскошным видом Москвы и красотой
                    | ночного неба, но и вкусом изысканных блюд
            .col-12.col-md-10.col-lg-6.offset-md-1.order-2
                .body0.spend__sub-caption
                    | К вашим услугам
                .body2
                    | Авторские шедевры европейской, азиатской, русской кухни
                    | от шеф-повара ресторана Березка-Сити
                .body2.spend__text
                    | Вы можете посмотреть меню и выбрать блюда заранее,
                    | либо прямо во время свидания заказать ужин, который мы
                    | доставим в течение 30-45 минут.
            .col-8.col-md-8.col-lg-4.offset-md-1.order-1.order-lg-2
                .spend__bg-img
                    button.button.spend__btn._sb Получить меню