#ujin
section.spend
    .container
        .row
            .col-12.col-md-10.col-lg-8.col-xl-7.offset-md-1
                h2.spend__caption
                    | Проведите романтический
                    | ужин на&nbsp;вершине города
                .body1
                    | Насладитесь не&nbsp;только роскошным видом Москвы и&nbsp;красотой
                    | ночного неба, но&nbsp;и&nbsp;вкусом изысканных блюд
            .col-12.col-md-10.col-lg-6.offset-md-1.order-2
                .body0.spend__sub-caption
                    | К&nbsp;вашим услугам
                .body2
                    | Авторские шедевры европейской, азиатской, русской кухни
                    | от&nbsp;шеф-повара ресторана Березка-Сити
                .body2.spend__text
                    | Вы&nbsp;можете посмотреть меню и&nbsp;выбрать блюда заранее,
                    | либо прямо во&nbsp;время свидания заказать ужин, который
                    | мы&nbsp;доставим в&nbsp;течение 30-45&nbsp;минут.
            .col-8.col-md-8.col-lg-4.offset-md-1.order-1.order-lg-2
                .spend__bg-img
                    button.button.spend__btn._sb.openform Получить меню