extends layout/main
include _util/mixins

block content
    include index/_header
    include index/_enjoy
    include index/_meeting
    include index/_donate
    include index/_arrange
    include index/_apartments
    include index/_questions
    include index/_spend
    include index/_certificate