.footer {
  position: relative;
  margin-top: -50%;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(../svg/footer.svg);
    padding-top: 100px;
  }
  &__contacts-box {
    padding: 15% 0;
  }
  &__contact {
    color: #fff;
    font-weight: 700;
    padding: 10px 0;
  }
}